In [3]:
x = 'halo'
x

'halo'

In [4]:
y = 30
y

30

In [6]:
k = 50
k

50

## Conditional

In [12]:
if False:
  a = 5
  b = 2
  jumlah = a+b
  print(jumlah)

In [15]:
angka = 20
if angka > 30:
  print(f'{angka} lebih besar dari 30')

In [16]:
20 > 30

False

In [17]:
35 > 30

True

In [20]:
angka = 30
if angka > 30:
  print(f'{angka} lebih besar dari 30')
elif angka == 30:
  print(f'{angka} sama dengan 30')
else:
  print(f'{angka} lebih kecil dari 30')

30 sama dengan 30

In [23]:
print(f'helloworld {a}')

helloworld 5

In [26]:
print('hello world {} dan kedua {}' .format(555, 'urutan ke-2'))

hello world 555 dan kedua urutan ke-2

In [30]:
angka = 21
if angka > 30:
  print(f'{angka} lebih besar dari 30')
elif angka == 30:
  print(f'{angka} sama dengan 30')
elif angka > 20:
  print(f'{angka} lebih besar dari 20')
else:
  print(f'{angka} lebih kecil dari 30')

21 lebih besar dari 20

In [73]:
n = float(input(' '))

if 0 <= n <= 100:
  if n<45:
    print('E')
  elif n<60:
    print('D')
  elif n<70:
    print('C')
  elif n<80:
    print('B')
  else:
    print('A')
else:
  print('nilai yang anda masukkan salah')

 -5
nilai yang anda masukkan salah

In [166]:
n = [30,40,50,60,34,98,0,10,29,38]
for x in n:
  if 0 <= x <= 100:
    if x<45:
      print('E')
    elif x<60:
      print('D')
    elif x<70:
      print('C')
    elif x<80:
      print('B')
    else:
      print('A')

E
E
D
C
E
A
E
E
E
E

In [94]:
angka = int(input(' '))
if angka % 2 == 0:
  print(f'{angka} adalah angka genap')
else:
  print(f'{angka} adalah angka ganjil')

 78
78 adalah angka genap

In [102]:
cities = ['Madura', 'Majalengka', 'Balik Papan']
nama_kota = 'Bali'
if nama_kota in cities:
  print(f'{nama_kota} merupakan kelompok dari cities')
else:
  print(f'{nama_kota} bukan merupakan kelompok dari cities')

Bali bukan merupakan kelompok dari cities

In [103]:
nama_kota in cities

False

## Looping

###While Loop

In [ ]:
while True:
  print('test')

In [114]:
i = 0
while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [122]:
angka = 0

In [125]:
angka = angka + 1
angka

3

In [128]:
i = 0
while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [131]:
i = 0
while i <= 10:
  print(f'5 x {i} = {5 * i}')
  i = i + 1

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [134]:
i = 0
while i <= 10:
  print(f'2 x {i} = {2 * i}')
  i = i + 1

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [137]:
i = 1
j = 1

while i <= 10:
  while j <= 10:
    print(f'{i} x {j} = {i * j}')
    j = j + 1
  print('-' * 10)
  i = i + 1
  j = 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

## For Loop

In [138]:
cities = list(cities)
cities

['Madura', 'Majalengka', 'Balik Papan']

In [164]:
for x in cities:
  print(x)

Madura
Majalengka
Balik Papan

In [159]:
len(cities)

3

In [162]:
i = 0
while i < len(cities):
  print(cities[i])
  i = i + 1   # i += 1

Madura
Majalengka
Balik Papan

In [163]:
for idx in range(len(cities)):
  print(cities[idx])

Madura
Majalengka
Balik Papan

In [151]:
for i in range(1,11):
  print(f'5*{i} = {5*i}')

5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [ ]:
# Nested for Loop
for i in range(1,11):
  for j in range(1,11):
    print(f'{i} * {j} = {i*j}')
  print('-' * 10)

In [149]:
type(range(1,10))

range

In [150]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Flow Control Statement

In [176]:
for i in range (1,11):
  print(i)
  if i == 6:
    break

1
2
3
4
5
6

In [177]:
for i in range (1,11):
  print(i)
  if i == 6:
    continue

1
2
3
4
5
6
7
8
9
10

In [179]:
for i in range (1,11):
  if i in [4,6,7]:
    continue
  print(i)

1
2
3
5
8
9
10