In [ ]:
def function_name(parameters):
  '''
  docstring
  '''
  statement(s)

In [7]:
def fungsi_cetak(variabel,var2):
  '''
  ini adalah fungsi cetak
  '''
  print(f'saya ingin mencetak {variabel} dia adalah instruktur {var2}')

In [8]:
fungsi_cetak('Rachman','Hacktiv8')

saya ingin mencetak Rachman dia adalah instruktur Hacktiv8

In [ ]:
fungsi_cetak('rachman')

In [10]:
def fungsi_cetak(variabel,var2='Hacktiv8'):
  '''
  ini adalah fungsi cetak
  '''
  print(f'saya ingin mencetak {variabel} dia adalah instruktur {var2}')

In [11]:
fungsi_cetak('rachman')

saya ingin mencetak rachman dia adalah instruktur Hacktiv8

In [12]:
fungsi_cetak('Rachman','FTDS')

saya ingin mencetak Rachman dia adalah instruktur FTDS

In [13]:
fungsi_cetak(var2='hallo', variabel= 'Rachman')

saya ingin mencetak Rachman dia adalah instruktur hallo

In [14]:
nama = 'rachman'
sekolah = 'swasta'

In [15]:
fungsi_cetak(variabel = nama, var2 = sekolah)

saya ingin mencetak rachman dia adalah instruktur swasta

In [5]:
def changeme(mylist):
  '''This changes a passed list into its function'''
  mylist = mylist+[1,2,3,4]
  print('\nValuse inside the function: ', mylist)
  return mylist

In [6]:
mylist = [10,20,30]

In [14]:
mylist

[1, 2, 3, 1, 2, 3, 4]

In [11]:
changeme([1,2,3])

Valuse inside the function:  [1, 2, 3, 1, 2, 3, 4]

[1, 2, 3, 1, 2, 3, 4]

In [13]:
mylist = changeme([1,2,3])

Valuse inside the function:  [1, 2, 3, 1, 2, 3, 4]

In [27]:
def tambah(x,y):
  print(x+y)
  return x+y

In [28]:
tambah(5,2)

7

7

In [29]:
x = tambah(5,6)

11

In [30]:
x

11

In [31]:
type(x)

int

In [32]:
x = list(range(1,20))

In [33]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [15]:
def deteksi_angka (x):
  if x % 2 == 0:
    print('ini adalah angka genap')
  else:
    print('ini adalah angka ganjil')

In [16]:
deteksi_angka(9)

ini adalah angka ganjil

In [20]:
def tambah (x,y,z):
  return x+y

In [22]:
tambah(8,9,9)

17

In [27]:
def tambah (*args):
  return sum(args)

In [28]:
tambah(19,10,29,29,29)

116

In [43]:
def bmi_calculator(nama,berat,tinggi):
  bmi = berat/(tinggi**2)
  if bmi < 18.5:
    print(f'{nama}score bmi anda adalah {bmi} anda underweight')
  elif bmi >= 18.5 and bmi <= 24.9:
    print(f'{nama} score bmi anda adalah {bmi} anda normal')
  else:
    print(f'{nama} score bmi anda adalah {bmi} anda overweight')

In [47]:
nama = input('ketikkan nama anda: ')
berat = int(input('ketikkan berat anda: '))
tinggi = float(input('ketikkan tinggi anda: '))

# berat = int(berat)
# 65tinggi = float(tinggi)

bmi_calculator(nama=nama,berat=berat,tinggi=tinggi)

ketikkan nama anda: Audrey
ketikkan berat anda: 65
ketikkan tinggi anda: 1.6
Audrey score bmi anda adalah 25.390624999999996 anda overweight

In [71]:
nama = input('masukkan Audrey: ')

masukkan Audrey: law

In [72]:
nama

'law'

In [73]:
def deteksi_nama(nama):
  return nama == 'Audrey'

In [74]:
deteksi_nama(nama)

False

In [75]:
name = input('masukkan Audrey: ')

masukkan Audrey: nama saya Audrey

In [76]:
name

'nama saya Audrey'

In [102]:
def deteksi_nama(name):
  for x in str(name):
    if x == 'Audrey':
      return name == 'Audrey'
  return name == 'Audrey'

In [103]:
deteksi_nama(name)

False